@use './reset.scss';

:root {
    --bg: #f5f7fa;
    --card-bg: #ffffff;
    --border: #999999;
    --text-main: #111111;
    --accent: #111111;
    --error: #e53935;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('/images/goose-bg.png');
    background-repeat: repeat;
    background-size: auto;
    background-position: top left;

    background-attachment: fixed;

    font-family: 'Fredoka', sans-serif;
}

#root {
    min-height: 100vh;
}

.h1,
.title,
h1 {
    font-family: 'Luckiest Guy', cursive;
}

.button,
button {
    font-family: 'Fredoka', sans-serif;
}

.goose-title {
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 1px;
}