.gooseCard {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 20px;
    border: 1px dashed #000;
    max-width: 360px;
    margin: 0 auto;
}

.gooseBox {
    width: 200px;
    height: 200px;
    border: 1px dashed #333;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    margin-bottom: 20px;
}

.gooseBox_active {
    background: rgba(0, 200, 0, 0.1);
}

.statsRow {
    margin: 4px 0;
    text-align: center;
}